<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>
<body>
    <h1>playground</h1>
    <ul>
        <% for (let i=0;i<6;i++){%>
        <li>
            <%= i%>
        </li>
            <%}%>
    </ul>
    <% if (true){%>
        <h1>it's true</h1>
    <%} else{%>
        <h1>its not true</h1>
        <%}%>

    <% let i=0; while(i<10){%>
        <h1>
            <%= i%>
            <% i++%>
        </h1>
    <%}%>
</body>
</html>